---
import Layout from '../layouts/Layout.astro';
import Badge from "../components/Badge.astro"
import SectionContainer from "../components/SectionContainer.astro"
import SocialPill from "../components/SocialPill.astro"
import LinkedInIcon from '../icons/LinkedIn.astro' 
import GitHubIcon from '../icons/GitHub.astro' 
import MailIcon from '../icons/Mail.astro'
import Experience from "../components/Experience.astro"
import BriefCase from "../icons/BriefCase.astro"
import CodeIcon from "../icons/Code.astro"
import Projects from "../components/Projects.astro"

---

<Layout title="Porfolio de Rafael Benitez Diaz - Pasante de TI con 2 años de experiencia" description="Rafael Benítez Díaz, estudiante activo apasionado por las tecnologías de la información en los negocios (5º cuatrimestre), busco aportar valor a tu empresa con experiencia en gestión de proyectos tecnológicos, análisis de datos y desarrollo de aplicaciones web. Comprometido con la innovación, el trabajo en equipo y la búsqueda de soluciones creativas.">

	<main class="px-4" id="top">
		<SectionContainer class="py-44 pb-32">
			<img 
				class="rounded-full size-12 mb-4"
				src="/public/rafa-photo.jpeg" alt=""
			/>
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hey, soy Rafa 
				<a href="https://www.linkedin.com/in/rafael-benitez-diaz/" target="_blank" rel="noopener" class="flex justify-center items-center">
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
				<span>2 años de experiencia</span>.
				<span class="text-purple-200/100"> Pasante de TI.</span> 
				<span class="text-purple-200/90">Ciudad de México, México</span>. 
				Especializado en crear aplicaciones únicas.
			</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/rafael-benitez-diaz/">
					<LinkedInIcon class = "size-4 md:size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/RafBD">
					<GitHubIcon class = "size-4 md:size-6" />
					Github
				</SocialPill>
				<SocialPill href="mailto:rafa.bediaz@gmail.com">
					<MailIcon class = "size-4 md:size-6" />
					Contactame
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experience">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<BriefCase class="size-7"/>
				Experiencia
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="projects">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-7"/>
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>